<section class="section mt-4">
    <div class="section-body">
        <div class="row">
        <div class="col-12 col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header text-center h3">App Setting</div>
                <div class="card-body">

                    <div class="p-3">
                        <!-- Personal Details Tab -->
                        <form [formGroup]="settingsForm" (submit)="submitForm()">
                            <div class="form-group mb-2">
                                <label>Website Name</label>
                                <input type="text" class="form-control" formControlName="app_name">
                                <div *ngIf="isFailed" class="form-text text-danger"><span *ngFor="let error of settingsError.app_name">{{error}}, </span></div>
                            </div>

                            <div class="form-group mb-2">
                                <label>Logo</label>
                                <input type="file" class="form-control" formControlName="logo" (change)="uploadLogo($event)">
                                <div *ngIf="isFailed" class="form-text text-danger"><span *ngFor="let error of settingsError.logo">{{error}}, </span></div>
                                <div class="form-text">{{logoUpload}}</div>
                                <small class="text-secondary">Recommended image size is <b>150px x 150px</b></small>
                            </div>
                            
                            <div class="form-group mb-2">
                                <label>Favicon</label>
                                <input type="file" class="form-control" formControlName="favicon" (change)="uploadFavicon($event)">
                                <div *ngIf="isFailed" class="form-text text-danger"><span *ngFor="let error of settingsError.favicon">{{error}}, </span></div>
                                <div class="form-text">{{faviconUpload}}</div>
                                <small class="text-secondary">Recommended image size is <b>16px x 16px</b> or <b>32px x 32px</b></small><br>
                                <small class="text-secondary">Accepted formats : only png and ico</small>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Save Changes</button>

                        </form>
                        <!-- /Personal Details Tab -->   
                    </div>

                </div>
            </div>

        </div>
    </div>
    </div>
</section>
