<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 my-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div>
</div>

<canvas class="my-4 w-100" id="myChart" width="900"></canvas>

<div class="row">
    <div class="col-12">
        <div class="float-start"><h2>Activity Logs</h2></div>
        <div class="float-end">
            <form [formGroup]="searchForm" (ngSubmit)="searchLogs(searchInput.value)">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" formControlName="search" #searchInput>
                    <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">User</th>
                      <th scope="col">Request URL</th>
                      <th scope="col">Request Method</th>
                      <th scope="col">Response Code</th>
                      <th scope="col">IP Address</th>
                      <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let log of logs?.results; let i = index">
                      <td>{{ i }}</td>
                      <td>{{ log?.user }}</td>
                      <td>{{ log.request_url }}</td>
                      <td>{{ log.request_method }}</td>
                      <td [ngClass]="[getResponseColor(log.response_code)]">{{ log.response_code }} </td>
                      <td>{{ log?.ip_address }}</td>
                      <td>{{ log.datetime | date: 'MMMM dd, YYYY' }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12" *ngIf="logs?.count">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <ng-container *ngIf="logs?.previous; else noPrevious">
                        <a href="#" (click)="pageLogs(logs?.previous)" class="page-link">Previous</a>
                    </ng-container>
                    <ng-template #noPrevious>
                        <a href="#" (click)="pageLogs(logs?.previous)" class="page-link disabled">Previous</a>
                    </ng-template>
                </li>
                <li class="page-item">
                    <ng-container *ngIf="logs?.next; else noNext">
                        <a href="#" (click)="pageLogs(logs?.next)" class="page-link">Next</a>
                    </ng-container>
                    <ng-template #noNext>
                        <a href="#" (click)="pageLogs(logs?.next)" class="page-link disabled">Next</a>
                    </ng-template>
                </li>
            </ul>
        </nav>

    </div>
</div>