<section class="section mt-4">
    <div class="section-body">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>NEW SERVICE</h4>
                    </div>
                    <div class="card-body">

                        <form class="my-3 mx-2" [formGroup]="serviceForm" (submit)="submitServiceForm()">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Name</label>
                                    <input type="text" class="form-control" formControlName="name">
                                    <div *ngIf="isFailed" class="form-text text-danger"><span *ngFor="let error of serviceError.name">{{error}}, </span></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>FA icon</label>
                                    <input type="text" class="form-control" formControlName="logo">
                                    <div *ngIf="isFailed" class="form-text text-danger"><span *ngFor="let error of serviceError.logo">{{error}}, </span></div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Description</label>
                                    <textarea class="form-control" formControlName="description"></textarea>
                                    <div *ngIf="isFailed" class="form-text text-danger"><span *ngFor="let error of serviceError.description">{{error}}, </span></div>
                                </div>
                            </div>
                            <div class="form-row py-4">
                                <button type="submit" class="btn btn-primary">Add Service</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
