<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-white sidebar collapse">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" class="position-sticky pt-5 scrollarea mt-3" data-bs-smooth-scroll="true" tabindex="0">
        <ul class="nav flex-column">

            <li class="nav-item">
                <a class="nav-link" routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="messages" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">
                    <i data-feather="message-square"></i><span>Messages</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="profile" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link"><i data-feather="user"></i><span>Profile</span></a>
            </li>
            <li class="nav-item">
                <a routerLink="projects" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link"><i data-feather="codepen"></i><span>Projects</span></a>
            </li>
            <li class="nav-item">
                <a routerLink="work" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link"><i data-feather="clipboard"></i><span>Work</span></a>
            </li>
            <li class="nav-item">
                <a routerLink="education" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link"><i data-feather="book-open"></i><span>Education</span></a>
            </li>
            <li class="nav-item">
                <a routerLink="skills" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link"><i data-feather="sliders"></i><span>Skills</span></a>
            </li>
            <li class="nav-item">
                <a routerLink="services" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link"><i data-feather="briefcase"></i><span>Service</span></a>
            </li>
            <li class="nav-item">
                <a routerLink="pricing" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link"><i data-feather="shopping-bag"></i><span>Pricing</span></a>
            </li>
            <li class="nav-item">
                <a routerLink="blog/articles" routerLinkActive="active" class="nav-link"><i data-feather="file-text"></i><span>Blog</span></a>
            </li>
            <hr>

            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link btn-toggle collapsed d-flex justify-content-between align-items-center px-3" data-bs-toggle="collapse" data-bs-target="#settings-collapse" aria-expanded="true">
                  <span><i data-feather="settings"></i>
                  Settings</span>
                  <span data-feather="plus-circle"></span>
                </a>
                <div class="collapse hide text-white bg-dark" id="settings-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a routerLink="settings/app" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link text-white" href="#">App Settings</a>
                        </li>
                        <li>
                            <a routerLink="settings/email-server" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link text-white" href="#">Email Settings</a>
                        </li>
                        <li>
                            <a routerLink="settings/change-password" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link text-white" href="#">Password Settings</a>
                        </li>
                    </ul>
                </div>
            </li>
            <hr>

        </ul>

        <!-- h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul -->
      </div>
    </nav>