<section class="section">
    <div class="section-body">

    <!-- Edit/Add Profile Form Body  -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <form method="post" action="#">

                                    <div class="form-row">
                                        <div class="form-group col-md-10">
                                            <label>Institution</label>
                                            <input type="text" class="form-control" name="institution" value="" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Study Area</label>
                                            <input type="text" class="form-control" name="study_area" value="" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Study Type</label>
                                            <input type="text" class="form-control" name="study_type" value="" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>GPA</label>
                                            <input type="text" class="form-control" name="gpa" value="" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Location</label>
                                            <input type="text" class="form-control" name="location" value="" required>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Start Date</label>
                                            <input type="text" class="form-control" name="start_date" value="" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>End Date</label>
                                             <input type="text" class="form-control" name="end_date" value="" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Description</label>
                                            <textarea class="form-control" name="description"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-row py-4">
                                        <button type="submit" class="btn btn-primary">Add Education</button>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    <!-- /Add Letter Form Body  -->

    </div>
</section>

