<section class="section mt-4">
    <div class="section-body">

        <div class="row">
        	<div class="text-center col-12 m-3">
        		<h4>My Projects</h4>
        	</div>
            <div class="col-12">
                <div class="card">
	                <div class="card-header">
	                    <div class="btn-toolbar float-end m-2" role="toolbar">
	                    	<div class="btn-group" role="group">
                          	<a routerLink="add" class="btn btn-primary">
                                <i class="fas fa-plus"></i>
                                Add Project
                             </a>
                         	</div>
                        </div>
              		</div>
              		<div class="card-body">
              			<div class="row m-3">
	                		<div class="row table-responsive">
	                  			<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped" id="table-2">
			                        <thead>
				                        <tr>
				                            <th class="text-center">#</th>
				                            <th>Project Name</th>
				                            <th>Image</th>
				                            <th>Technologies</th>
				                            <th>Date</th>
				                            <th>Action</th>
				                            <th></th>
				                        </tr>
			                        </thead>
			                        <tbody>
				                        <tr *ngFor="let project of projects?.results; let i = index">
				                            <td class="text-center">{{i}}</td>
				                            <td>
				                            	<a [routerLink]="['view', slugify(project.name), binarify(project.id ?? 0)]" class="text-decoration-none">{{project?.name}}</a></td>
				                            <td class="align-left">
				                              	<img [src]="project.image" class="img-thumbnail align-left" width="45" alt="#image-{{i}}">
				                            </td>
				                            <td> <span class="badge bg-primary m-1" *ngFor="let keyword of project?.keywords?.slice(0,7)">{{ keyword?.technology }} </span> </td>
				                            <td>{{ project?.date | date: 'MMMM dd, YYYY' }}</td>
				                            
				                            <td><a [routerLink]="['edit', slugify(project.name), binarify(project.id ?? 0)]" class="btn btn-primary">Edit</a></td>
				                            <td><button type="button"  (click)="removeProject(project)" class="btn btn-danger" data-toggle="modal" data-target="#deleteProjectModal">Delete</button></td>
				                        </tr>

	                    			</tbody>
	                  			</table>
	                		</div>
                		</div>
              		</div>
           	 	</div>
          	</div>
        </div>
    </div>
</section>


<!--delete Project Modal 
        <div class="modal fade" id="deleteProjectModal" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Delete Project Nemesis</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    ARE YOU SURE?
                  </div>
                  <div class="modal-footer bg-whitesmoke br">
                    <a href="#deleteURL" class="btn btn-danger deleteModal">Delete</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
            </div>
        </div>
-->