<section class="section mt-4">
    <div class="section-body">
        <h2 class="section-title">Education History</h2>
        <div class="row">
            <div class="col-12">
                <div class="activities">

                    <div class="activity">
                        <div class="activity-icon bg-primary text-white">
                            <i class="fas fa-plus"></i>
                        </div>
                        <div class="activity-detail">
                            <div class="mb-2">
                            <a routerLink="create" class="btn btn-primary">Add Education</a>
                            </div>
                        </div>
                    </div>

                    <div class="activity" *ngFor="let education of educationList.results">
                        <div class="activity-icon bg-primary text-white">
                            <i class="fas fa-award"></i>
                        </div>
                        <div class="activity-detail p-4 fs-6">
                            <div class="mb-2 font-monospace small">
                                <span class="text-job strong me-3">{{education.institution}}</span>
                                <span class="bullet strong">&bull;</span>
                                <a class="text-job text-decoration-none strong" [routerLink]="['update', slugify(education.study_type), binarify(education.id ?? 0)]">EDIT</a>
                                <span class="bullet strong">&bull;</span>
                                <a class="text-job text-danger text-decoration-none strong" href="javascript:void();" (click)="removeEducation(education)">DELETE</a>
                            </div>
                            <div class="profile-widget-description pb-0">
                                <div class="profile-widget-name mb-2 small">
                                    {{ education.study_area }}, {{ education.study_type }}
                                    <span class="text-muted d-inline font-weight-normal">
                                    <span class="strong"> / </span> {{ education.start_date | date: 'MMMM dd, YYYY' }} - {{ education.end_date | date: 'MMMM dd, YYYY' }}</span>
                                </div>
                                <p class="mb-2  small">
                                    <i class="fas fa-medal px-2"></i>
                                    <a class="text-decoration-none" href="mailto:elkanahmalonza@gmail.com">{{ education.gpa }}</a>
                                </p>
                                <p class="mb-2  small">
                                    <i class="fas fa-map-marker-alt px-2"></i>
                                    <a class="text-decoration-none" href="#">{{ education.location }}</a>
                                </p>
                                <p class="pt-2 text-muted mx-2 blockquote-footer">{{ education.description }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

<!--delete Work Modal
        <div class="modal fade" id="deleteEduModal" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    ARE YOU SURE?
                  </div>
                  <div class="modal-footer bg-whitesmoke br">
                    <a href="#" class="btn btn-danger deleteModal">Delete</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
            </div>
        </div>
-->
