<section class="section">
    <div class="section-body">
        <h2 class="section-title">Education History</h2>
        <div class="row">
            <div class="col-12">
                <div class="activities">

                    <div class="activity">
                        <div class="activity-icon bg-primary text-white">
                            <i class="fas fa-plus"></i>
                        </div>
                        <div class="activity-detail">
                            <div class="mb-2">
                            <a href="#" class="btn btn-primary">Add Education</a>
                            </div>
                        </div>
                    </div>

                    <div class="activity">
                        <div class="activity-icon bg-primary text-white">
                            <i class="fas fa-award"></i>
                        </div>
                        <div class="activity-detail">
                            <div class="mb-2">
                                <span class="text-job">Horgwat School of Mgic</span>
                                <span class="bullet"></span>
                                <a class="text-job" href="#">Edit</a>
                                <span class="bullet"></span>
                                <a class="text-job text-danger" href="#" data-toggle="modal" data-target="#deleteEduModal">Delete</a>
                            </div>
                            <div class="profile-widget-description pb-0">
                                <div class="profile-widget-name">Bachelor of Schience, Computer Technology<div class="text-muted d-inline font-weight-normal"> <div class="slash"></div> July 20, 2021 - August 11, 2023</div></div>
                                <p>
                                    <i class="fas fa-medal px-2"></i>
                                    <a href="mailto:elkanahmalonza@gmail.com">edu gpa</a>
                                    <br>
                                    <i class="fas fa-map-marker-alt px-2"></i>
                                    <a href="#">Nairobi, Kenya</a>
                                </p>
                                <p>Core subjects Included: Systems Analysis & Design, Network Design, Database Design, Object Oriented Design, Network Security, Firewall Design, Logistics, General Management and Accounting. Participated in leadership and team Activities including being a member Computer & Information Technology Club.</p>
                            </div>
                        </div>
                    </div>

                    <div class="activity">
                        <div class="activity-icon bg-primary text-white">
                            <i class="fas fa-award"></i>
                        </div>
                        <div class="activity-detail">
                            <div class="mb-2">
                                <span class="text-job">Horgwat School of Mgic</span>
                                <span class="bullet"></span>
                                <a class="text-job" href="#">Edit</a>
                                <span class="bullet"></span>
                                <a class="text-job text-danger" href="#" data-toggle="modal" data-target="#deleteEduModal">Delete</a>
                            </div>
                            <div class="profile-widget-description pb-0">
                                <div class="profile-widget-name">Bachelor of Schience, Computer Technology<div class="text-muted d-inline font-weight-normal"> <div class="slash"></div> July 20, 2021 - August 11, 2023</div></div>
                                <p>
                                    <i class="fas fa-medal px-2"></i>
                                    <a href="mailto:elkanahmalonza@gmail.com">edu gpa</a>
                                    <br>
                                    <i class="fas fa-map-marker-alt px-2"></i>
                                    <a href="#">Nairobi, Kenya</a>
                                </p>
                                <p>Core subjects Included: Systems Analysis & Design, Network Design, Database Design, Object Oriented Design, Network Security, Firewall Design, Logistics, General Management and Accounting. Participated in leadership and team Activities including being a member Computer & Information Technology Club.</p>
                            </div>
                        </div>
                    </div>

                    <div class="activity">
                        <div class="activity-icon bg-primary text-white">
                            <i class="fas fa-award"></i>
                        </div>
                        <div class="activity-detail">
                            <div class="mb-2">
                                <span class="text-job">Horgwat School of Mgic</span>
                                <span class="bullet"></span>
                                <a class="text-job" href="#">Edit</a>
                                <span class="bullet"></span>
                                <a class="text-job text-danger" href="#" data-toggle="modal" data-target="#deleteEduModal">Delete</a>
                            </div>
                            <div class="profile-widget-description pb-0">
                                <div class="profile-widget-name">Bachelor of Schience, Computer Technology<div class="text-muted d-inline font-weight-normal"> <div class="slash"></div> July 20, 2021 - August 11, 2023</div></div>
                                <p>
                                    <i class="fas fa-medal px-2"></i>
                                    <a href="mailto:elkanahmalonza@gmail.com">edu gpa</a>
                                    <br>
                                    <i class="fas fa-map-marker-alt px-2"></i>
                                    <a href="#">Nairobi, Kenya</a>
                                </p>
                                <p>Core subjects Included: Systems Analysis & Design, Network Design, Database Design, Object Oriented Design, Network Security, Firewall Design, Logistics, General Management and Accounting. Participated in leadership and team Activities including being a member Computer & Information Technology Club.</p>
                            </div>
                        </div>
                    </div>
                



                </div>
            </div>
        </div>

    </div>
</section>

<!--delete Work Modal
        <div class="modal fade" id="deleteEduModal" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    ARE YOU SURE?
                  </div>
                  <div class="modal-footer bg-whitesmoke br">
                    <a href="#" class="btn btn-danger deleteModal">Delete</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
            </div>
        </div>
-->
