<section class="section mt-4">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Post Entry</h4>
                    </div>
                    <div class="card-body">
                    <form [formGroup]="articleForm" (submit)="submitArticleForm()">
                        <div class="form-group row mb-4">
                            <label class="col-form-label text-md-end col-12 col-md-3 col-lg-3">Title</label>
                            <div class="col-sm-12 col-md-7">
                                <input type="text" class="form-control" formControlName="title">
                                <div *ngIf="isFailed" class="form-text text-danger"><span *ngFor="let error of articleError.title">{{error}}, </span></div>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label class="col-form-label text-md-end col-12 col-md-3 col-lg-3">Series</label>
                            <div class="col-sm-12 col-md-7">
                                <!--select class="form-control selectric" formControlName="series">
                                    <option value="" selected="">[None]</option>
                                    <option value="0" selected="">article series name</option>
                                </select-->

                                <ng-select [items]="seriesList?.results ?? []"
                                    formControlName="series"
                                    bindLabel="name"
                                    [addTag]="addSeries"
                                    [(ngModel)]="selectedSeries"
                                   > 
                                </ng-select>
                                <div *ngIf="isFailed" class="form-text text-danger"><span *ngFor="let error of articleError.series">{{error}}, </span></div>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label class="col-form-label text-md-end col-12 col-md-3 col-lg-3">Category</label>
                            <div class="col-sm-12 col-md-7">
                                <!--select class="form-control selectric" name="category">
                                    <option value="6" selected="">Category-1</option>
                                    <option value="4">Category-2</option>
                                </select-->

                                <ng-select [items]="categoryList?.results ?? []"
                                    formControlName="category"
                                    bindLabel="name"
                                    [addTag]="addCategory"
                                    [(ngModel)]="selectedCategory"
                                   > 
                                </ng-select>
                                <div *ngIf="isFailed" class="form-text text-danger"><span *ngFor="let error of articleError.category">{{error}}, </span></div>

                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label class="col-form-label text-md-end col-12 col-md-3 col-lg-3">Content</label>
                            <div class="col-sm-12 col-md-7">
                                <textarea [ngxSummernote]="config" class="form-control" formControlName="content" id="summernote" required=""></textarea>
                                <div *ngIf="isFailed" class="form-text text-danger"><span *ngFor="let error of articleError.content">{{error}}, </span></div>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label class="col-form-label text-md-end col-12 col-md-3 col-lg-3">Thumbnail</label>
                            <div class="col-sm-12 col-md-7">
                                <div id="image-preview" class="image-preview">
                                    <div *ngIf="article?.image" class="form-text">Current Image: <a href="{{article.image}}">{{article.image}}</a></div>
                                    <label for="post-thumbnail">Change: </label>
                                    <input id="post-thumbnail" type="file" class="form-control" formControlName="image" (change)="uploadFile($event)">
                                    <div class="form-text">{{imageUpload}}</div>
                                    <div *ngIf="isFailed" class="form-text text-danger"><span *ngFor="let error of articleError.image">{{error}}, </span></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label class="col-form-label text-md-end col-12 col-md-3 col-lg-3">Tags</label>
                            <div class="col-sm-12 col-md-7">
                                <!--input type="text" class="form-control inputtags" value="" name="tags"-->
                                <ng-select [items]="[]"
                                    formControlName="tags"
                                    [multiple]="true"
                                    [selectOnTab]="true"
                                    [isOpen]="false"
                                    [addTag]="addTagFn"
                                    [(ngModel)]="selectedItems"
                                   > 
                                </ng-select>
                                <div *ngIf="isFailed" class="form-text text-danger"><span *ngFor="let error of articleError.tags">{{error}}, </span></div>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label class="col-form-label text-md-end col-12 col-md-3 col-lg-3">Status</label>
                            <div class="col-sm-12 col-md-7">
                                <select class="form-control selectric" formControlName="status">
                                    <option value="Publish">Publish</option>
                                    <option value="Draft">Draft</option>
                                    <option value="Pending">Pending</option>
                                </select>
                                <div *ngIf="isFailed" class="form-text text-danger"><span *ngFor="let error of articleError.status">{{error}}, </span></div>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                            <div class="col-sm-12 col-md-7">
                                <button class="btn btn-primary">Update Post</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal with form 
<div class="modal fade bd-example-modal-lg" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">New Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="addForm" action="#" method="POST">
                    <div class="category-info">
                        <div class="row form-row category-cont">
                            <div class="col-10">
                                <div class="form-group">
                                    <label>Category</label>
                                    <input type="text" class="form-control" name="category-name_1" required="">
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                                <label class="d-md-block d-sm-none d-none">&nbsp;</label>
                                <a href="#" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="add-more">
                        <a href="javascript:void(0);" class="add-category"><i class="fa fa-plus-circle"></i> Add More</a>
                    </div>
                    <input type="hidden" name="form_num" value="1">
                    <p id="count" style="display: none;">1</p>

                    <button type="submit" class="btn btn-primary m-t-15 waves-effect">CREATE</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="addSeriesModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">New Series</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="addForm" action="#" method="POST">
                    <div class="series-info">
                        <div class="row form-row category-cont">
                            <div class="col-10">
                                <div class="form-group">
                                    <label>Series</label>
                                    <input type="text" class="form-control" name="series-name_1" required="">
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                                <label class="d-md-block d-sm-none d-none">&nbsp;</label>
                                <a href="#" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="add-more">
                        <a href="javascript:void(0);" class="add-series"><i class="fa fa-plus-circle"></i> Add More</a>
                    </div>

                    <button type="submit" class="btn btn-primary m-t-15 waves-effect">CREATE</button>
                </form>
            </div>
        </div>
    </div>
</div>
-->
