<section class="section mt-4">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Comments</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptions" class="table table-striped" id="table-1">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Article</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Message</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let comment of comments?.results; let i = index">
                                        <td class="text-center">{{i}}</td>
                                        <td>
                                            <a href="#">{{article.title}}</a>
                                        </td>
                                        <td>{{comment.name}}</td>
                                        <td>{{comment.email}}</td>
                                        <td>{{comment.message}}</td>
                                        <td>{{ comment?.date_created | date: 'MMMM dd, YYYY' }}</td>
                                        <td><a href="#" class="btn btn-primary">Reply</a></td>
                                        <td><button type="button" (click)="removeComment(comment)" class="btn btn-danger">Delete</button></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
