<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Comments</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptions" class="table table-striped" id="table-1">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Article</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Message</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>
                                            <a href="#">Router tutorial: tour of heroes</a>
                                        </td>
                                        <td>John Doe</td>
                                        <td>johndoe@gmail.com</td>
                                        <td>In this tutorial, you build upon a basic router configuration to explore features such as child routes, route parameters, lazy load NgModules, guard routes, and ...</td>
                                        <td>July 29, 2027</td>
                                        <td><a href="#" class="btn btn-primary">Reply</a></td>
                                        <td><a href="#" class="btn btn-danger">Delete</a></td>
                                    </tr>

                                    <tr>
                                        <td class="text-center">Reply-1</td>
                                        <td>
                                            <a href="#">Common Routing Tasks</a>
                                        </td>
                                        <td>John Doe</td>
                                        <td>johndoe@gmail.com</td>
                                        <td>This topic describes how to implement many of the common tasks associated with adding the Angular router to your application.</td>
                                        <td>July 29, 2027</td>
                                        <td>[reply]</td>
                                        <td><a href="#">Delete</a></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
