<section class="section mt-4">
    <div class="section-body">

    <!-- Edit/Add Profile Form Body  -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center"><h4>NEW PROJECT</h4></div>
                    <div class="card-body">

                        <form class="my-3 mx-2" [formGroup]="projectForm" (submit)="submitProjectForm()">
                            <div class="row">
                                <div class="form-group col-md-6 my-2">
                                    <label>Project Name</label>
                                    <input type="text" class="form-control" formControlName="name" required>
                                    <div *ngIf="isFailed" class="form-text text-danger"><span *ngFor="let error of projectError.name">{{error}}, </span></div>
                                </div>
                                <div class="form-group col-md-6 my-2">
                                    <label>Display Image</label>
                                    <input type="file" class="form-control" formControlName="image" (change)="uploadFile($event)">
                                    <div class="form-text">{{imageUpload}}</div>
                                    <div *ngIf="isFailed" class="form-text text-danger"><span *ngFor="let error of projectError.image">{{error}}, </span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 my-2">
                                    <label>Project Url</label>
                                    <input type="text" class="form-control" formControlName="url" required>
                                    <div *ngIf="isFailed" class="form-text text-danger"><span *ngFor="let error of projectError.url">{{error}}, </span></div>
                                </div>
                                <div class="form-group col-md-6 my-2">
                                    <label>Video LInk</label>
                                     <input type="text" class="form-control" formControlName="video_url">
                                    <div *ngIf="isFailed" class="form-text text-danger"><span *ngFor="let error of projectError.video_url">{{error}}, </span></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6 my-2">
                                    <label>Date</label>
                                    <input type="text" class="form-control" formControlName="date" placeholder="YYYY-MM-DD" required>
                                    <div *ngIf="isFailed" class="form-text text-danger"><span *ngFor="let error of projectError.date">{{error}}, </span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 my-2">
                                    <label>Tech-Stack</label>
                                    <!--input type="text" class="form-control inputtags" name="keywords" value="" required-->
                                    <ng-select [items]="[]"
                                        formControlName="keywords"
                                        [multiple]="true"
                                        [selectOnTab]="true"
                                        [isOpen]="false"
                                        bindLabel="technology"
                                        [addTag]="addTagFn"
                                        [(ngModel)]="selectedItems"
                                       > 
                                    </ng-select>
                                    <div *ngIf="isFailed" class="form-text text-danger"><span *ngFor="let error of projectError.keywords">{{error}}, </span></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12  my-2">
                                    <label>Description</label>
                                    <textarea [ngxSummernote]="config" class="form-control" formControlName="description"> </textarea>
                                    <div *ngIf="isFailed" class="form-text text-danger"><span *ngFor="let error of projectError.description">{{error}}, </span></div>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col">
                                <button type="submit" class="btn btn-primary">Add Project</button>
                                </div>
                            </div>

                        </form>

                        
                    </div>
                </div>
            </div>
        </div>
    <!-- /Add Letter Form Body  -->

    </div>
</section>
