<section class="section">
    <div class="section-body">

    <!-- Edit/Add Profile Form Body  -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 pt-4">
                                <form method="post" action="#" enctype="multipart/form-data">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Image</label>
                                            <input type="file" class="form-control" name="image">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Project Name</label>
                                            <input type="text" class="form-control" name="name" value="" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Url</label>
                                            <input type="text" class="form-control" name="url" value="" required>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Date</label>
                                            <input type="text" class="form-control" name="date" value="" placeholder="YYYY-MM-DD" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Video LInk</label>
                                             <input type="text" class="form-control" name="video_url" value="">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-8">
                                            <label>Technologies</label>
                                            <input type="text" class="form-control inputtags" name="keywords" value="" required>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-8">
                                            <label>New Project Images</label>
                                            <input type="file" class="form-control" name="picture" multiple>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-8">
                                            <label>Description</label>
                                            <textarea class="form-control" name="description"> </textarea>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <button type="submit" class="btn btn-primary">Add Project</button>
                                    </div>

                                </form>
                            </div>
                        </div>

                        <div class="row pt-4">
                            <div class="col-12 text-center"><h3>Update Project Images</h3></div>
                            
                            <div class="col-12 pt-3">
                                <form method="post" action="#" enctype="multipart/form-data">
                                    <div class="form-row">
                                        <div class="form-group col-md-8">
                                            <label>Image 1</label>
                                            <input type="file" class="form-control" name="image">
                                        </div>
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-primary">Update</button>
                                            <a href="#" class="btn btn-danger">Remove</a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    <!-- /Add Letter Form Body  -->

    </div>
</section>
