<section class="section mt-4">
    <div class="section-body">
        <h2 class="section-title">Work History</h2>
        <div class="row">
            <div class="col-12">
                <div class="activities">

                    <div class="activity">
                        <div class="activity-icon bg-primary text-white">
                            <i class="fas fa-plus"></i>
                        </div>
                        <div class="activity-detail">
                            <div class="mb-2">
                            <a routerLink="create" class="text-decoration-none"><i class="fa fa-plus-circle"></i> Add Work</a>
                            </div>
                        </div>
                    </div>

                    <div class="activity" *ngFor="let work of workList.results">
                        <div class="activity-icon bg-primary text-white">
                            <i class="fas fa-briefcase"></i>
                        </div>

                        <div class="activity-detail p-4 fs-6">
                            <div class="mb-2 font-monospace small">
                                <span class="text-job strong me-3"> {{work.company}}</span>
                                <span class="bullet strong">&bull;</span>
                                <a class="text-decoration-none text-job strong" [routerLink]="['update', slugify(work.position), binarify(work.id ?? 0)]" >EDIT</a>
                                <span class="bullet">&bull;</span>
                                <a class="text-job text-danger text-decoration-none strong"  data-toggle="modal" href="javascript:void();" (click)="removeWork(work)">DELETE</a>
                            </div>
                            <div class="profile-widget-description pb-0">

                                <div class="profile-widget-name mb-2  small">
                                    {{ work.position }} 
                                    <span class="text-muted d-inline font-weight-normal"> 
                                        <span class="slash strong"> / </span> 
                                        {{ work.start_date | date: 'MMMM dd, YYYY' }} - {{ work.end_date | date: 'MMMM dd, YYYY' }}
                                    </span>
                                </div>
                                <p class="mb-2  small">
                                    <i class="fas fa-globe px-2"></i>
                                    <a  class="text-decoration-none" href="{{ work.website }}">{{ work.website }}</a>
                                </p>
                                <p  class="mb-2  small">
                                    <i class="fas fa-map-marker-alt px-2"></i>
                                    <a class="text-decoration-none" href="#">{{work.location}}</a>
                                </p>
                                <div>
                                    <ul class="text-muted mx-2 blockquote-footer">
                                        <li *ngFor="let highlight of work.highlights" class="lh-lg">{{highlight.name}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</section>



    <!--delete Work Modal
        <div class="modal fade" id="deleteWorkModal" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Delete INTERN jobs</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    ARE YOU SURE?
                  </div>
                  <div class="modal-footer bg-whitesmoke br">
                    <a href="#" class="btn btn-danger deleteModal">Delete</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
            </div>
        </div>
-->
